.header {
  width: 100%;
  height: 12rem;

  background-color: #EE6C4D;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 2rem;

  color: #E0FBFC;

  button {
    cursor: pointer;
    padding: 1rem 2rem;

    border: none;
    border-radius: 0.5rem;
    background: #0A1128;
    color: #fff;

    font-family: Poppins, sans-serif;

    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.9)
    }
  }
}